<!DOCTYPE html>
html(lang="en")

head
  title MeetApp
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  //- Jasmine testing
  //- link(rel="shortcut icon" type="image/png" href="jasmine/lib/jasmine-2.0.0/jasmine_favicon.png")
  //- link(rel="stylesheet" type="text/css" href="jasmine/lib/jasmine-2.0.0/jasmine.css")
  link(rel="shortcut icon", href="https://alidaca.github.io/MeetUp-clone/assets/img/favicon.ico")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
  link(rel="stylesheet", href="https://alidaca.github.io/MeetUp-clone/assets/css/main.css")
  script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')
body
  .body-wrap
    include includes/header-pages
    include includes/confirmEvent

  //- script(data-main="/assets/js/confirmEvent-main" src="/assets/js/tools/require.js")
  script(data-main="https://alidaca.github.io/MeetUp-clone/assets/js/confirmEvent-main.js" src="https://alidaca.github.io/MeetUp-clone/assets/js/tools/require.js")
  //- Jasmine testing
  //- script(type="text/javascript" src="jasmine/lib/jasmine-2.0.0/jasmine.js")
  //- script(type="text/javascript" src="jasmine/lib/jasmine-2.0.0/jasmine-html.js")
  //- script(type="text/javascript" src="jasmine/lib/jasmine-2.0.0/boot.js")