<!DOCTYPE html>
html(lang="en")
head
  title MeetApp
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="assets/img/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
body
  .body-wrap
  include includes/header-home
  include includes/main-home

  script(src="https://code.jquery.com/jquery-2.2.3.min.js")
  script(src="/assets/js/functions.js")