.container-addEvent
  .main
    .breadcrumbs
      ul
        li.active
          i.fa.fa-pencil(aria-hidden="true")  
        li
          i.fa.fa-users(aria-hidden="true")
        li
          i.fa.fa-check(aria-hidden="true")
    .event-info
      form(id="eventForm")
        .event-type
          label(for="eventType") What event are you planning?
          p.errMsg Please, provide an event type
          input(type="text" name="eventType" id="eventType" placeholder="Birthday party" required autofocus)
        .event-name
          label(for="eventName") What is the event's name?
          p.errMsg Please, provide an event name
          input(type="text" name="eventName" id="eventName" placeholder="John's Birthday Party" required)
        .date-and-time
          .date-start
              label(for="eventStart") When will it start?
              p.errMsg Please, provide a start date and time
              input(type="datetime-local" name="eventDate" id="eventStart" required)
          .date-end
              label(for="eventEnd") When will it end?
              p.errMsg Please, provide a start date and time
              input(type="datetime-local" name="eventEnd" id="eventEnd" required value="")
          
        .location
          label(for="eventLocation") Where will it be?
          p.errMsg Please, provide a location for this event
          input(type="text" name="eventLocation" id="eventLocation" placeholder="Address" required)
        .host
          label(for="hostName") Who is hosting?
          p.errMsg Please, provide a host name
          input(type="text" name="hostName" id="hostName")
        .details
          label(for="eventDetails") What should your guest know? (optional)
          textArea(type="textarea" name="eventDetails" id="eventDetails")
    .footer
      .button.btn-light(disabled="disabled" id="continueBtn") Continue
        

