.container-addEvent
  .main
    .breadcrumbs
      ul
        li.active
          i.fa.fa-pencil(aria-hidden="true")  
        li
          i.fa.fa-users(aria-hidden="true")
        li
          i.fa.fa-check(aria-hidden="true")
    .event-info
      form(id="eventForm")
        label(for="eventType") What event are you planning?
        input(type="text" name="eventType" id="eventType" placeholder="John's birthday party" required autofocus)
        .date-and-time
          .date
            label(for="eventDate") When will it take place?
            input(type="date" name="eventDate" id="eventDate" required)
          .time-start
            label(for="eventStart") What time will it start?
            input(type="time" name="eventStart" id="eventStart" required)
          .time-end
            label(for="eventEnd") What time will it end? (optional)
            input(type="time" name="eventEnd" id="eventEnd" class="valid")
        label(for="eventLocation") Where will it be?
        input(type="text" name="eventLocation" id="eventLocation" placeholder="Address" required)
        label(for="hostName") Who is hosting? (optional)
        input(type="text" name="hostName" id="hostName")
        label(for="eventDetails") What should your guest know? (optional)
        textArea(type="textarea" name="eventDetails" id="eventDetails")
    .footer
      .button.btn-light(disabled="disabled" id="continueBtn") Continue
        

