.container-addGuests
  .main
    .breadcrumbs
      ul
        li
          i.fa.fa-pencil(aria-hidden="true")  
        li.active
          i.fa.fa-users(aria-hidden="true")
        li
          i.fa.fa-check(aria-hidden="true")
    .guests-info
      form
        label(for="guests") Who is invited? (enter the email addresses separated by a comma)
        textarea(type="textarea" name="guestList" id="guests" placeholder="John@gmail.com, Jane@yahoo.com" required autofocus)
        .btn-wrap
          .button.btn-light(id="addBtn") Add Guests
      .guest-list
        ul(id="guestList")
       
    .footer
      .button.btn-light(disabled="disabled" id="continue") Continue
        

