.container-addGuests
  .main
    .breadcrumbs
      ul
        li 1
        li.active 2
        li 3
    .guests-info
      form
        label(for="guests") Who is invited? (enter the email addresses separated by a comma)
        textarea(type="textarea" name="guestList" id="guests" placeholder="John@gmail.com, Jane@yahoo.com" required)
        .btn-wrap
          .button.btn-light Add Guests
      .guest-list
        ul(id="guestList")
          li JohnSmith@aol.com
          li JaneDoe@gmail.com
          li l.millevoi@gmail.com
          li JimLee@yahoo.com
          li JohnSmith@aol.com
          li JaneDoe@gmail.com
          li alidaca@msn.com
          li emholm@yahoo.com
          li JimLee@yahoo.com
          li JohnSmith@aol.com
          li JaneDoe@gmail.com
          li JimLee@yahoo.com
          li JohnSmith@aol.com
          li JaneDoe@gmail.com
          li JimLee@yahoo.com
    .footer
      .button.btn-light(disabled="disabled") Continue
        

