.container-confirmEvent
  .main
    .breadcrumbs
      ul
        li
          i.fa.fa-pencil(aria-hidden="true")  
        li
          i.fa.fa-users(aria-hidden="true")
        li.active
          i.fa.fa-check(aria-hidden="true")
    .confirm-info
      h3#confirmName Event Name
      .date-and-time
        h4 Starts on: 
          span#confirmDate mm/dd/yyyy
        h4 at: 
          span#confirmStart hh:mm AM
      .date-and-time
        h4 Ends on:
          span#confirmDateEnd mm/gg/yyyy
        h4 at: 
          span#confirmEnd hh:mm PM
      h4 Location: 
        span#confirmLocation location address, city and zipcode
      h4 Hosted by: 
        span#confirmHost host name
      h4 Event Details
        p#confirmDetails additional information if provided
      h4 Guests
        #confirmGuests
          ul#confirmList
            
    .footer
      .button.btn-light(id="startOver") Start Over
      .button.btn-light(id="confirm") Confirm
        

