.container-confirmEvent
  .main
    .breadcrumbs
      ul
        li 1
        li 2
        li.active 3
    .confirm-info
      h3#confirmName Event Name
      .dateAndTime
        h4#confirmDate Date: 
          span mm/dd/yyyy
        h5#confirmStart From:
          span hh:mm AM
        h5#confirmEnd To:
          span hh:mm PM
      h5#confirmLocation Location:
        span location address, city and zipcode
      h5#confirmHost Hosted by:
        span host name
      h5#confirmDetails Event Details
        p additional information if provided
      h5#confirmList Guest
        ul#confirmedGuests
          li guest@email.com
          li guest@email.com
          li guest@email.com
          li guest@email.com
          li guest@email.com
          li guest@email.com
          li guest@email.com
          li guest@email.com
          li guest@email.com
          li guest@email.com
          li guest@email.com   
    .footer
      .button.btn-light( id="continue") Confirm
        

