.header-wrap-pages#header
  .container
    .logo-pages
      a(href="index.html")
        h1.hide-text.show-image MeetApp - event planner
    .login-pages#login
      .media-element.media-element-login
        .media
          svg(xmlns="http://www.w3.org/2000/svg" width="39" height="40" viewBox="0 0 39 40" version="1")
            title Oval 1 Copy
            desc Created with Sketch.
            g(style="fill-rule:evenodd;fill:none")
              g(fill="#01614B")
                path(d="M19.5 39.6C30.3 39.6 39 30.8 39 20 39 9.2 30.3 0.4 19.5 0.4 8.7 0.4 0 9.2 0 20 0 30.8 8.7 39.6 19.5 39.6ZM13.3 27L10 31.8 30 31.8 26.8 27 13.3 27ZM20 24C22.8 24 25 21.3 25 18 25 14.7 22.8 12 20 12 17.2 12 15 14.7 15 18 15 21.3 17.2 24 20 24Z")
        .caption.caption-login
          a.modal-trigger(href='#modal') Login or Register