
.header-wrap
  .logo 
    h1.hide-text.show-image MeetApp - event planner
    input.new-event(type="button" value="Schedule an event")
  .login
    .media-element.media-element-login
      .media
        img(src="/assets/img/icons/user-icon.svg")
      .caption.caption-login
        a(href='#') Login or Register
  
 