.header-wrap
  .logo 
    h1.hide-text.show-image MeetApp - event planner
    a.button.new-event.modal-trigger(href="#modal") Schedule an event
  .login
    .media-element.media-element-login
      .media
        img(src="/assets/img/icons/user-icon.svg")
      .caption.caption-login
        a.modal-trigger(href='#modal') Login or Register
  
 