.login-modal-wrap(id="modal")
  .modal-header
    h3.modal-title Login to create an event
    .modal-close
      span
  section#message
    p error message to appear here
  section.modal-body

    //main login screen - with social
    .main-login
      .button(id="google-login")
        i(class="fa fa-google-plus-square" aria-hidden="true")
        span:a Login with Google      
      .button(id="facebook-login")
        i(class="fa fa-facebook-square" aria-hidden="true")
        span:a Login with Facebook
      p Or use your email
      .footer-wrap
        a.button(id='modal-btn-login') Login
        a.button(id='modal-btn-signUp') Sign up

    //login with email screen
    .email-login
      form
        label(for="email-login") Enter your email
        input(type="email" name="email" id="email-login" autocomplete="email" placeholder="john@domain.com" required autofocus)

        label(for="pwd-login") Choose a password
        input(type="password" id="pwd-login" required)
        .footer-wrap
          a.button.modal-btn-back Back
          a.button.modal-btn-signIn(disabled="disabled" id="emailLoginBtn") Login

    //sign-up screen
    .signup-form
      form
        label(for="name") What's your name? (required)
        input(type="text" name="name" id="name" value="" placeholder="John Smith" autocomplete="name" required autofocus)

        label(for="email-reg") Enter your email (required)
        input(type="email" name="email" id="email-reg" placeholder="john@doamin.com" autocomplete="email" required)

        label(for="pwd-reg") Choose a password (required)
        input(type="password" id="pwd-reg" required)

        label(for="confirm-pwd") Confirm your password 
        input(type="password" id="confirm-pwd" required)

        .instructions
          p Your password must:
          ul(class="fa-ul")
            li(id="pwd-length") be at least 8 characters long 
              i(class="arrow" class="fa-li fa fa-angle-right")
              i(class="check" class="fa-li fa fa-check-circle-o hidden" aria-hidden="true")
            li(id="pwd-symbol")= 'contain a symbol (!,@,#,$,%,^,&,*)'
              i(class="arrow" class="fa-li fa fa-angle-right")
              i(class="check" class="fa-li fa fa-check-circle-o hidden" aria-hidden="true")
            li(id="pwd-number") include a number
              i(class="arrow" class="fa-li fa fa-angle-right")
              i(class="check" class="fa-li fa fa-check-circle-o hidden" aria-hidden="true")
            li(id="pwd-uppercase") include an uppercase letter
              i(class="arrow" class="fa-li fa fa-angle-right")
              i(class="check" class="fa-li fa fa-check-circle-o hidden" aria-hidden="true")
            li(id="pwd-lowercase") include a lowercase letter
              i(class="arrow" class="fa-li fa fa-angle-right")
              i(class="check" class="fa-li fa fa-check-circle-o hidden" aria-hidden="true")

        .footer-wrap
          a.button.modal-btn-back Back
          input.button(type="submit" id='modal-btn-register' value="Register" disabled)


