//- mixin event
//-   .event-card.media-element
//-     img.media(src="/assets/img/icons/event-icon.svg" alt="event-icon")
//-     .caption
//-       h3 Event Name
//-       hr
//-       p.event-description Event Description
//-       p.event-date Date


.main-wrap


