.container-confirmEvent
  .confirm-info
    margin: 10px auto 0 auto
    max-width: 550px
    color: $text2
    font-size: 14px
    font-style: italic
    text-align: left
    h3
      margin: 20px 10px
    h4
      margin: 10px
      span,
      p
        font-weight: normal
        font-size: 18px
      span
        margin: 0 10px
    .date-and-time
      display: flex
    #confirmGuests
      max-height: 300px
      overflow: scroll
      ul
        list-style: none
        padding: 0
        li
          font-weight: normal
          font-size: 18px
  // ::-webkit-scrollbar 
  //   -webkit-appearance: none
  //   width: 7px

  // ::-webkit-scrollbar-thumb 
  //   border-radius: 4px
  //   background-color: rgba(0, 0, 0, .5)
  //   -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5)

  .footer
    #startOver
      margin-right: 20px

    #confirm
      margin-left: 20px

@media(max-width:550px)
  .container-confirmEvent
    .confirm-info
      .date-and-time
        display: block
@media(max-width:350px)
  .container-confirmEvent
    .footer
      display: flex
      flex-direction: column
      align-items: center
      #startOver,
      #confirm
        margin: 10px 
      #startOver
        order: 1
      #confirm
        order: 0



